{# app/Resources/views/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <body>
    <h1>Developers</h1>

    <div class="products" style="display: inline-block; margin-left: 50px">

        <h3>Developer # {{ product.id }}</h3>

        <p>Developer name : {{ product.name }}</p>

        <div class="categories" style="display: inline-block;">
            <p>Languages for this developer</p>
            <ul>
                {% for category in product.categories %}
                    <li><a href="/category/{{ category.name }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

    </div>
    </body>

{% endblock %}